<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Buffetary - Resto Explorer</title>
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" />
    <!-- <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./images/icons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./images/icons/favicon-16x16.png"
    /> -->
    <link
      rel="mask-icon"
      href="./images/icons/safari-pinned-tab.svg"
      color="#fccc2c"
    />
    <meta name="msapplication-TileColor" content="#000000" />
    <meta name="theme-color" content="#fccc2c" />

    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./assets/css/buffetary-icons.css" />
  </head>

  <body>
    <noscript>
      Halaman Ini membutuhkan javascript untuk dijalankan, pastikan anda telah
      mengaktifkan javascript pada pengaturan browser anda
    </noscript>
    <div id="root"></div>
  </body>
</html>
