@import './utils';

.loader {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  transition: opacity 1s;

  .loader-icon {
    width: 35px;
    height: 35px;
    position: relative;

    > span {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      &::before,
      &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        margin: auto;
        width: 100%;
        height: 100%;
        border: 5px solid $utama;
        border-radius: 50%;
        opacity: 0.5;
        animation: loaderAnim1 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
      }

      &::after {
        animation: loaderAnim2 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s
          infinite;
      }
    }
  }
}

@keyframes loaderAnim1 {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes loaderAnim2 {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
