@import '../utils.scss';

resto-detail {
  @include media(mobileLarge) {
    flex-direction: column;
    height: unset;
    min-height: calc(100vh - 80px);

    .left-side {
      img,
      .detail-pic {
        height: 300px;
      }
    }
    .right-side {
      padding: 0;
      max-width: unset;

      .head-title {
        padding-left: 20px;
        padding-right: 20px;
        .love-button {
          top: 0;
          transform: translateY(-50%) scale(1.1);
          right: 20px;
        }
      }
      .description {
        h2,
        p {
          padding-left: 20px;
          padding-right: 20px;
        }
      }

      .navigation-content {
        article {
          .review-item {
            padding-left: 0;
            padding-right: 0;
            margin: 0 20px;
          }
        }
      }
    }
  }
}
