resto-list,
my-favorite {
  @include media(tablet) {
    .heading-title {
      text-align: left;
    }
    .resto {
      resto-item {
        flex-basis: 30%;
        margin: 5px;
      }
    }
  }
  @include media(mobile) {
    .heading-title {
      margin-top: 50px;
    }
  }
}

@include media(mobileLarge) {
  .resto {
    resto-item {
      flex-basis: 45% !important;
    }
  }
}

@include media(mobile) {
  .resto {
    resto-item {
      // flex-basis: 95% !important;
      &:active {
        transform: scale(0.95);
      }
      figure {
        img,
        .thumbnail {
          height: 150px;
        }
      }
      figcaption {
        padding: 10px;
        h4 > a {
          margin: 4px 0 6px;
        }
      }
    }
  }
}

@include media(mobileSmall) {
  .resto {
    resto-item {
      flex-basis: 80% !important;
    }
  }
}
